---
import Layout from '../../layouts/AboutMe.astro';
import AboutHeroImage from '../../assets/me1.jpg';
---

<Layout
	title="Manuel Tonello"
	description="Una breve introduzione su chi sono"
	birthDate={new Date('December 07 1999')}
	heroImage={AboutHeroImage},
	location="📍Montebelluna (TV, Italia)"
>

<p>
	Sono una persona pratica, curiosa e riflessiva, con un approccio razionale, ma allo stesso tempo spinta dal bisogno di esplorare e trovare nuove fonti di ispirazione — sia nel lavoro che nella vita quotidiana. Amo viaggiare e vivere luoghi che siano diversi da ciò a cui sono abituato. Finora sono stato in
	
	<img src="https://flagcdn.com/it.svg" width="30" alt="Italia">
	<img src="https://flagcdn.com/es.svg" width="30" alt="Spagna">
	<img src="https://flagcdn.com/pt.svg" width="30" alt="Portogallo">
	<img src="https://flagcdn.com/at.svg" width="30" alt="Austria">
	<img src="https://flagcdn.com/si.svg" width="30" alt="Slovenia">
	<img src="https://flagcdn.com/hr.svg" width="30" alt="Croazia">
	<img src="https://flagcdn.com/gr.svg" width="30" alt="Grecia">
	
	e ho ancora molte destinazioni nella mia lista, tra cui
	
	<img src="https://flagcdn.com/mt.svg" width="30" alt="Malta">
	<img src="https://flagcdn.com/ma.svg" width="30" alt="Marocco">
	<img src="https://flagcdn.com/tr.svg" width="30" alt="Turchia">
	<img src="https://flagcdn.com/eg.svg" width="30" alt="Egitto">

	. Sono particolarmente attratto dai luoghi con tanto sole e mare.
</p>

<img src="/images/barcellona.JPEG" alt="Barcellona">

<p>
	Lo sport ha un ruolo fondamentale nel mantenermi in equilibrio. Sono un grande appassionato di calcio ⚽, ma pratico anche nuoto regolarmente 🏊‍♂️. Non sono ossessionato dalla competizione, ma mi piace mettermi alla prova — soprattutto quando la sfida coinvolge sia l’aspetto fisico che quello mentale.
</p>

<p>
	Sono uno sviluppatore backend con un forte interesse per il secure coding e per la realizzazione di sistemi affidabili e manutenibili nel tempo. Ho anche esplorato lo sviluppo mobile, principalmente con Flutter, per progetti personali o sperimentazioni. Mi piace lavorare in modo metodico, ragionare sulle scelte e prendermi il tempo necessario per fare le cose per bene. Non inseguo le mode — mi interessa ciò che funziona, ciò che ha senso e ciò che porta valore reale.
</p>

</Layout>
